.content-menu-wrap{
     display: flex;
     min-height: calc(100vh - 64px);
     background: #0F1724;
    /*flex-direction: row; */
}
.globalMenu{
  height:auto;
}


/* .example-container {
    /* width: 500px;
    height: 100%; 
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  } */