<div>
    <app-header [settings]="settings"></app-header>
    <div class="content-menu-wrap">
        <app-menu [settings]="settings"></app-menu>
        <app-content [settings]="settings"></app-content>
    </div>
</div>

<!-- <app-header></app-header>
 <mat-drawer-container class="example-container globalMenu" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" position="{{matDrawerPOsition}}">
        <app-menu></app-menu>
    </mat-drawer>
    <div>
        <router-outlet></router-outlet>
    </div>
  </mat-drawer-container> -->