<mat-dialog-content class="matDialogContent">
    {{data['text']}}
</mat-dialog-content>
<!-- <mat-dialog-actions> -->
<div>
    <button mat-icon-button  
                            class="dialogCloseButton" 
                            [class.left50]="data['settings']['direction'] == 'rtl'" 
                            [class.right50]="data['settings']['direction'] == 'ltr'"
                            matTooltip="{{formTitle[data['settings']['language']].close}}">
        <mat-icon (click) = "close()" [matTooltip]="data['closeTooltip']">close</mat-icon>
    </button>
</div>
<!-- </mat-dialog-actions> -->