.editor{
    background: #fff;
    color: #444444;
}
.pageViewOptions{
    margin: 6px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    font-size: 20px;
    font-weight: 200;
    padding: 4px 8px;
    /* background-color: #24364E;
    background-image: linear-gradient(to right,rgba(13,230,255,0.15) 0%,rgba(201,189,174,0) 25%);
    border-bottom: 1px solid rgba(0,0,0,0.5); 
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);*/
    height: 2rem;
}