/* .header-wrap{
    height: 6rem;
    width:100%;
    background:#212529;
} */
mat-icon{
    color: #fff;
}
.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background:#1d2636;
    background-image: linear-gradient(to right,rgba(13,230,255,0.15) 0%,rgba(201,189,174,0) 25%);
  }
  button.headerButton {
      color: #fff;
      outline: none;
  }

  .wrapSettingBlock{
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: inset 0px 0px 20px;
    margin: 5px 0;
  }
  mat-radio-button{
      margin: auto 3px;
  }
  .wrapRadio{
      display:flex;
  }