<div class="header-wrap">
    <mat-toolbar>
       <mat-toolbar-row >
        <button mat-icon-button class="example-icon" matTooltip="{{openMenuTooltip}}" (click)="openMenu()">
            <mat-icon>{{menuIcon}}</mat-icon>
          </button>
          <span class="titleColor">My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_vert</mat-icon>
          </button>
       </mat-toolbar-row>
      </mat-toolbar>
</div>
  <mat-menu #menu="matMenu" class="headerSettingMenu" style="position: relative;">
    <div class="wrapMatIcon">
      <mat-icon class="closeMenuSettings" [style.textAlign]="settings['direction'] == 'rtl' ? 'right' : 'left'" [matTooltip]="closeTooltip">close</mat-icon>
    </div>
    <form [formGroup] = "globalSettingForm">
      <div class="wrapSettingBlock" [dir]="settings['direction']">
        <mat-radio-group formControlName="language" *ngIf="settings && languageSettings">
            <div class="wrapMatIcon">
              <mat-icon matTooltip="{{languageTooltip}}" [style.textAlign]="settings['direction'] == 'rtl' ? 'right' : 'left'">language</mat-icon>
            </div>
            <section class="wrapRadio" *ngFor="let lang of languageSettings['language']">
              <mat-radio-button 
              class="radioButtonSettings"
              (change)="onLanguageChange($event,'language')" 
              (click)="$event.stopPropagation();" 
              value="{{lang['language']}}"
              [checked]="lang['language'] === settings['language']">
            </mat-radio-button>
      
            <button mat-menu-item (click)='changeLanguage(lang)' class="headerButton" disabled="{{lang['language'] === settings['language']}}">
              <span 
                [class.cursor-pointer]="lang['language'] !== settings['language']" 
                [class.titleColor]="lang['language'] === settings['language']">
                  {{lang['language']}}
                </span>
            </button>
            </section>
        </mat-radio-group>
      </div>
      <!-- <div class="wrapSettingBlock">
  
      </div> -->
      <div class="settingButton">
        <div class="submitAlert titleColor paddingBottom" [class.submitError]="errorSubmit" >{{savedTitle}}</div>
        <button mat-raised-button (click)="$event.stopPropagation(); saveGlobalSettings()">
          {{saveButtonTitles}}
        </button>
      </div>
    </form>
  </mat-menu>