<div class="header-wrap">
    <mat-toolbar>
       <mat-toolbar-row >
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openMenu()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="titleColor">My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button (click)='changeLanguage()' class="headerButton">
            <span>{{enHeb}}</span>
          </button>
       </mat-toolbar-row>
      </mat-toolbar>
</div>